.dropdown{
    width: fit-content;
    height: fit-content;
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-6);
    background-color: var(--color-neutral-500);
    color: var(--color-neutral-800);
    font-size: var(--font-size-4);
    gap: 10px;
    .dropdown_left{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        span{
            width: 132px;
            text-align: start;
        }
    }
}
.dropdown:hover{
    background-color: white;
}